---
title: Our Service Locations
permalink: "/service-locations/"
layout: default
section_id: service-locations
featured-image: "/uploads/sd-service-locations-featured.jpg"
excerpt: Murray Lampert specializes in home design, build, and remodel projects in
  multiple cities & neighborhoods throughout San Diego County. See where we work.
---

<p style="text-align: center;"><a href="/">Murray Lampert Design, Build, Remodel</a> proudly serves homeowners in the following cities and neighborhoods in San Diego County:</p>

<div class='spacing'></div>

<div class="flex-section" style="justify-content: space-around;">
  <!-- Service Locations Column 1 -->
  <div class="categories-section">
  {% for location in site.service-locations limit: 10 %}
    {% if location.path contains ".md" %}
    <h3><a href="{{ location.url }}">{{ location.title | replace: "Design, Build, and Remodel Services", "Home Remodel" }}</a></h3>
    {% endif %}
  {% endfor %}
  </div>
  <!-- Service Locations Column 2 -->
  <div class="categories-section">
  {% for location in site.service-locations offset: 10 %}
    {% if location.path contains ".md" %}
    <h3><a href="{{ location.url }}">{{ location.title | replace: "Design, Build, and Remodel Services", "Home Remodel" }}</a></h3>
    {% endif %}
  {% endfor %}
  </div>
</div>
<div class='four spacing'></div>
