<section class="blog">

  <div class="lock">
    {% for post in site.posts limit: 4 %}

      {% if forloop.index == 1 %}

      <div class="featured-post">
        <!-- Cloudinary image include -->
        {%- assign image = post.featured-image -%}

        {% include cloudinary-image.html image=image alt="murray lampert blog post featured image" %}

        <div class="text">
          <h2>{{ post.title }}</h2>
          <p>{{ post.content | truncatewords: 50 }}</p>
          <a href="{{ post.url }}" class="btn blue">Read Full Article</a>
        </div>
      </div>

      {% else %}

      <div class="recent-posts">

        <!-- Recent Posts Go Here -->

      </div>

      {% endif %}

    {% endfor %}
  </div>

</section>
