<section class="carousel-container">

  <div class="carousel">

    {% for slide in section.slide %}
    <div class="slide" style="background-image: url('{{ site.cloudinary }}{{ slide.background-image }}')" data-slide="{{ forloop.index }}" {% if forloop.index != 1 %} hidden{% endif %}>
      <div class="text-overlay {{ slide.text-overlay.background-color }} {{ slide.text-overlay.alignment }}">
        {% if slide.text-overlay.small-heading %}
        <p class="small-heading">{{ slide.text-overlay.small-heading }}</p>
        {% endif %}
        <p class="main-content">{{ slide.text-overlay.main-content }}</p>
        {% if slide.text-overlay.detail %}
        <p class="detail">{{ slide.text-overlay.detail }}</p>
        {% endif %}
      </div>
      {% if slide.cta and slide.cta.enabled == true %}
      <a class="btn {{ slide.cta.color }}" href="{{ slide.cta.url }}">{{ slide.cta.button-text }}</a>
      {% endif %}
    </div>
    {% endfor %}
  </div>

  <!-- Controls -->
  {% if section.slide.size > 1 %}
  <div id="controls">
    <!-- Left Arrow -->
    <button class="icon-left-arrow" type="button" name="prev"></button>
    <!-- Indicator Dots -->
    {% for slide in section.slide %}
    <span class="dot{% if forloop.index == 1 %} active{% endif %}" data-dot="{{ forloop.index }}"></span>
    {% endfor %}
    <!-- Right Arrow -->
    <button class="icon-right-arrow" type="button" name="next"></button>
  </div>
  {% endif %}

</section>
