<img
  src="{{ site.cloudinary }},w_auto{{ include.image }}"
  srcset="
  {{ site.cloudinary }},w_576{{ item.image-info.image }} 576w,
  {{ site.cloudinary }},w_768{{ item.image-info.image }} 768w,
  {{ site.cloudinary }},w_992{{ item.image-info.image }} 992w,
  {{ site.cloudinary }},w_1200{{ item.image-info.image }} 1200w,
  "
  sizes="
  (max-width: 575px) 576px,
  (max-width: 767px) 768px,
  (max-width: 991px) 992px,
  (max-width: 1199px) 1200px
  "
  alt="{{ include.alt }}" width="800"
  height="450"
  loading="lazy"
>
