<!-- See: https://web.dev/codelab-specifying-multiple-slot-widths/ -->
<img
  src="{{ site.cloudinary }},w_auto{{ include.image }}"
  srcset="
  {{ site.cloudinary }},w_576{{ include.image }} 576w,
  {{ site.cloudinary }},w_768{{ include.image }} 768w,
  {{ site.cloudinary }},w_992{{ include.image }} 992w,
  {{ site.cloudinary }},w_1200{{ include.image }} 1200w
  "
  sizes="
  (max-width: 992px) 100vw,
  (max-width: 1200px) 50vw,
  1200px
  "
  alt="{{ include.alt }}"
  width="800"
  height="450"
  loading="lazy"
>
