<!-- Get In Touch Section -->
<section class="rich-text">

  <div class="lock">

    <h6>Get In Touch</h6>
    <h2>Contact Murray Lampert</h2>
    <p>Our team is excited to learn more about your project! Complete the quick form below and let us know a bit more about you, as well as some details about your remodeling project. Our team will be in touch ASAP to discuss next steps and schedule your FREE in-home or virtual consultation.</p>
    <p><span id="promise">Our Promise:</span> Murray Lampert will never send you spam or sell your information. You can opt out of recieving message from us at any time.</p>

    <!-- BuilderTrend Lead Form -->
      <script type="text/javascript" src="https://buildertrend.net/leads/contactforms/js/btClientContactForm.js"></script>
      <iframe src="https://buildertrend.net/leads/contactforms/ContactFormFrame.aspx?builderID=9616" scrolling="no" id="btIframe" style="background:transparent;border:0px;margin:0 auto;width:100%;"></iframe>
    <!-- End of BuilderTrend Lead Form -->

  </div>

</section>

<!-- Our Office Section -->
<section class="rich-text">

  <div class="lock">

    <h6>Our Office</h6>
    <h2>Visit Murray Lampert in San Diego</h2>
    <p>We value face-to-face communication and invite all of our current and potential clients to visit our office in San Diego. Drop in and say hello!</p>

    <div class="wrapper">

      <div class="left">
        <p class="small-heading">Our Location</p>
        <!-- Google Map Embed -->
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3354.8502289393996!2d-117.13468798481817!3d32.769708380974244!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x409268b5dbfcff56!2sMurray%20Lampert%20Design%2C%20Build%2C%20Remodel!5e0!3m2!1sen!2sus!4v1622637672568!5m2!1sen!2sus" width="100%" height="306" frameborder="0" style="border:0;margin-bottom:1rem;" loading="lazy" allowfullscreen></iframe>
        <a href="https://g.page/MurrayLampert?share" rel="noopener noreferrer" target="_blank">View on Google Maps</a>
      </div>

      <div class="right">
        <p class="small-heading">Our Address</p>
        <p>2851 Camino Del Rio South, Suite 310</p>
        <p>San Diego, CA 92108</p>
        <a href="tel:16192859222">(619) 285-9222</a>
      </div>

    </div>

  </div>

</section>
