<div class='full no-padding' style='background: #111'>
  <div class='fullwidth' id='footer'>
    <div class='footer-content-section'>
      <p>©2017 <a href="{{ site.url }}">{{site.title}}</a>. All rights reserved. | License: <a href="https://www2.cslb.ca.gov/OnlineServices/CheckLicenseII/LicenseDetail.aspx?LicNum=458038">458038</a></p>
      <p>2878 Camino Del Rio South, Suite 160 San Diego, CA 92108 | <a href="https://goo.gl/maps/4KLBFiCZ4pF2">Map It</a></p>
      <p>Phone: <a href="tel:+6192859222">619-285-9222</a> | <a href="/privacy-policy/">Privacy Policy</a></p>
      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup">
      <form action="//murraylampert.us8.list-manage.com/subscribe/post?u=fe05d588de33f292046b593e2&amp;id=965b9b0a29" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
      	<h3>Sign Up for Blog & Newletter Updates</h3>
      	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_fe05d588de33f292046b593e2_965b9b0a29" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
          </div>
      </form>
      </div>
      <!--End mc_embed_signup-->
    </div>
    <div class='footer-content-section'>
      <a href="{{ site.url }}/about-murray-lampert-design-build-remodel">About Murray Lampert</a><br>
      <a href="{{ site.url }}/design-build-services-san-diego">Design-Build Services</a><br>
      <a href="{{ site.url }}/san-diego-home-design-services">Custom Home Design</a><br>
      <a href="{{ site.url }}/san-diego-design-build-contractors">Design-Build Contractors</a><br>
      <a href="{{ site.url }}/san-diego-design-build-contractors">San Diego Home Remodeling</a><br>
      <a href="{{ site.url }}/san-diego-remodel-project-gallery">Project Gallery</a><br>
      <a href="{{ site.url }}/featured-projects">Featured Projects</a><br>
      <a href="{{ site.url }}/contact">Contact Murray Lampert</a>
    </div>
    <div class='footer-content-section'>
      <a href="{{ site.url }}/service-locations">Service Locations</a><br>
      <a href="{{ site.url }}/affiliation">Industry Affiliation</a><br>
      <a href="{{ site.url }}/testimonials">Testimonials</a><br>
      <a href="{{ site.url }}/reviews">Reviews</a><br>
      <a href="{{ site.url }}/faqs">FAQs</a><br>
      <a href="{{ site.url }}/careers-at-murray-lampert">Careers</a><br>
      <a href="{{ site.url }}/blog">Blog</a><br>
      <a href="{{ site.url }}/sitemap">Sitemap</a>
    </div>
    <ul class='socials'>
    <!-- Social Media profiles -->
      <li><a href='http://facebook.com/MurrayLampertDBR/' target='_blank'><i class='fa fa-facebook'></i></a></li>
      <li><a href='http://twitter.com/murraylampert' target='_blank'><i class='fa fa-twitter'></i></a></li>
      <li><a href='https://plus.google.com/+MurrayLampertDesignBuildRemodelSanDiego' target='_blank'><i class='fa fa-google-plus'></i></a></li>
      <li><a href='https://www.pinterest.com/MurrayLampert/' target='_blank'><i class='fa fa-pinterest'></i></a></li>
      <li><a href='https://www.youtube.com/channel/UCln47QFvKDFEZuJxSl68ibg' target='_blank'><i class='fa fa-youtube'></i></a></li>
      <li><a href='https://www.instagram.com/murraylampert/' target='_blank'><i class='fa fa-instagram'></i></a></li><br>
    <!-- Professional Associations -->
      <li><a href="http://www.bbb.org/san-diego/business-reviews/construction-and-remodeling-services/murray-lampert-design-build-remodel-in-san-diego-ca-100554/#bbbonlineclick"><img src="/uploads/bbb-logo.jpg"></a></li>
      <li><a href="http://www.sandiegoapprovedhomepros.com/home-pros/murray-lampert-construction/"><img src="/uploads/approved-homepro-seal.png"></a></li>
      <!-- <li><a href="http://members.sdchamber.org/default.asp?ep=true&epid=39661&type=eplq"><img src="/uploads/sdrc-logo.png"></a></li> -->
    </ul>
  </div>
</div>

<script src="{{ "/javascripts/jquery.countTo.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.appear.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.validate.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.sequence-min.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/jquery.easing.1.3.js" | prepend: site.baseurl }}" type="text/javascript"></script>
<script src="{{ "/javascripts/app.js" | prepend: site.baseurl }}" type="text/javascript"></script>
