<footer>

  <div class="lock">

    <div class="column">
      <a href="/" id="footer-logo">
        <img src="https://res.cloudinary.com/zheisey/image/upload/f_auto/murray-lampert/logos/mldbr-v3.svg" alt="Murray Lampert Design, Build, Remodel logo" width="200" height="172" loading="lazy">
      </a>
      <p>©2020 Murray Lampert. <a href="https://www2.cslb.ca.gov/OnlineServices/CheckLicenseII/LicenseDetail.aspx?LicNum=458038" target="_blank" rel="noopener noreferrer">License 485038</a><br>
      <a href="http://eepurl.com/c6LqZn" class="btn blue" rel="noopener noreferrer">Get Our Newsletter</a>
      </p>
    </div>

    <div class="column">
      <nav>
        <!-- Footer menu items 1-4 -->
        <ul class="menu-items">
          {% for item in site.data.footer-nav limit: 4 %}
          <li>
            <a href="{{ item.url }}">{{ item.title }}</a>
          </li>
          {% endfor %}
        </ul>
        <!-- Footer menu items 5-8 -->
        <ul class="menu-items">
          {% for item in site.data.footer-nav offset: 4 limit: 4 %}
          <li>
            <a href="{{ item.url }}">{{ item.title }}</a>
          </li>
          {% endfor %}
        </ul>
        <!-- Footer menu items 9-12 -->
        <ul class="menu-items">
          {% for item in site.data.footer-nav offset: 8 %}
          <li>
            <a href="{{ item.url }}">{{ item.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </nav>
      <!-- Social Media Icons -->
      <div class="social-icons">
        <a href="https://www.instagram.com/murraylampert/" target="_blank" rel="nopener noreferrer" aria-label="Instagram"><span class="icon-instagram"></span></a>
        <a href="https://twitter.com/murraylampert" target="_blank" rel="nopener noreferrer" aria-label="Twitter"><span class="icon-twitter"></span></a>
        <a href="https://facebook.com/MurrayLampertDBR/" target="_blank" rel="nopener noreferrer" aria-label="Facebook"><span class="icon-facebook"></span></a>
        <a href="https://www.youtube.com/channel/UCln47QFvKDFEZuJxSl68ibg" target="_blank" rel="nopener noreferrer" aria-label="YouTube"><span class="icon-youtube"><span></a>
        <a href="https://www.pinterest.com/MurrayLampert/" target="_blank" rel="nopener noreferrer" aria-label="Pinterest"><span class="icon-pinterest"></span></a>
      </div>
    </div>

    <div class="column">
      <address>
        <p>Serving San Diego Since 1975</p>
        <p>2851 Camino Del Rio South</p>
        <p>Suite 310</p>
        <p>San Diego, CA 92108</p>
        <a href="tel:+16192859222">619-285-9222</a>
      </address>
      <a href="/contact" class="btn blue">Contact Us</a>
    </div>

  </div>

  <!-- Inline Scripts -->
  <script type="text/javascript">

    // IIFE wrapper start
    (function() {

      //== Load Fonts (prevent FOIT) ==//

      // https://gomakethings.com/preventing-foit-with-web-fonts-using-the-vanilla-js-fonts.load-method/

      {

        // If the browser supports the fonts.load() method
        if ('fonts' in document) {

        	// When all Adobe Typekit styles are loaded
        	Promise.all([
        		document.fonts.load('600 1em adobe-caslon-pro'),
        		document.fonts.load('400 1em acumin-pro'),
        		document.fonts.load('700 1em acumin-pro')
        	]).then(function () {
        		// The font is loaded
        		// Add our 'fonts-loaded' class
        		document.documentElement.className += 'fonts-loaded';
        	});

        }

      }

      //== Main Menu Toggle ==//

      {

        let menuIcon = document.querySelector('#menu-icon');
        let navOverlay = document.querySelector('#nav-overlay');

        // Close main menu
        function closeMenu() {

          menuIcon.classList.remove('open');
          menuIcon.setAttribute('aria-expanded', 'false');
          navOverlay.setAttribute('aria-hidden', 'true');
          navOverlay.style.visibility = 'hidden';
          navOverlay.style.height = '0%';

        }

        // Open main menu
        function openMenu() {

          menuIcon.classList.add('open');
          menuIcon.setAttribute('aria-expanded', 'true');
          navOverlay.setAttribute('aria-hidden', 'false');
          navOverlay.style.visibility = 'visible';
          navOverlay.style.height = '100%';

        }

        // Toggle menu opened/closed
        function menuToggle(event) {

          // If menu is not open, show menu items
          if (!menuIcon.classList.contains('open')) {
            openMenu();
          }
          // Else close menu
          else {
            closeMenu();
          }

        }

        // Listen for clicks on hamburger menu icon
        menuIcon.addEventListener('click', menuToggle);

        // Listen for keydown events
        document.addEventListener('keydown', function(event) {

          // If menu is open and Escape key is pressed, close menu
          if (event.key === 'Escape' && menuIcon.classList.contains('open')) {
            closeMenu();
            return;
          }

        }, false);

      }

      //== Carousel (class-based) ==//

      {

        if (document.querySelector('.carousel-container')) {

          let carousel = document.querySelector('.carousel');
          let prevButton = document.querySelector('button[name="prev"]');
          let nextButton = document.querySelector('button[name="next"]');
          let dots = Array.from(document.querySelectorAll('.dot'));

          // Show next slide
          function showNextSlide(event) {

            // Disable buttons from being clicked during animation
            prevButton.setAttribute('disabled', '');
            nextButton.setAttribute('disabled', '');

            // Grab current and next slides
            let currentSlide = document.querySelector('.slide:not([hidden])');
            let nextSlide = currentSlide.nextElementSibling || document.querySelector('.slide:first-of-type');

            // Add/remove necessary classes
            nextSlide.hidden = false;
            currentSlide.classList.add('next-leaving');
            nextSlide.classList.add('next-entering');

            // Update active dots
            dots.forEach(dot => {

              dot.classList.remove('active');

              if (dot.getAttribute('data-dot') === nextSlide.getAttribute('data-slide')) {
                dot.classList.add('active');
              }

            });

          };

          // Show previous slide
          function showPreviousSlide(event) {

            // Disable buttons from being clicked during animation
            prevButton.setAttribute('disabled', '');
            nextButton.setAttribute('disabled', '');

            // Grab current and previous slides
            let currentSlide = document.querySelector('.slide:not([hidden])');
            let previousSlide = currentSlide.previousElementSibling || document.querySelector('.slide:last-of-type');

            // Add/remove necessary classes
            previousSlide.hidden = false;
            currentSlide.classList.add('previous-leaving');
            previousSlide.classList.add('previous-entering');

            // Update active dots
            dots.forEach(dot => {

              dot.classList.remove('active');

              if (dot.getAttribute('data-dot') === previousSlide.getAttribute('data-slide')) {
                dot.classList.add('active');
              }

            });

          };

          // Jump to slide based on clicked dot
          function jumpToSlide(event) {

            // If click was on currently active dot, bail
            if (event.target.classList.contains('active')) return;

            // Update active dots
            dots.forEach(dot => {

              dot.classList.remove('active');

              if (dot === event.target) {
                dot.classList.add('active');
              }

            });

            // Show correct slide based on active dot
            Array.from(document.querySelectorAll('.slide')).forEach(slide => {

              if (slide.getAttribute('data-slide') === event.target.getAttribute('data-dot')) {

                slide.hidden = false;

              }

              else {

                slide.hidden = true;

              }

            });

          };

          // Listen for clicks on Prev & Next buttons
          prevButton.addEventListener('click', showPreviousSlide, false);
          nextButton.addEventListener('click', showNextSlide, false);

          // Listen for clicks on dots
          dots.forEach(function(dot) {

            dot.addEventListener('click', jumpToSlide, false);

          });


          // Add/remove necessary classes after animation
          carousel.addEventListener('animationend', function(event) {

            // Re-enable buttons to be clickable
            prevButton.removeAttribute('disabled');
            nextButton.removeAttribute('disabled');

            if (event.target.classList.contains('next-leaving') || event.target.classList.contains('previous-leaving')) {
              event.target.hidden = true;
            }

            event.target.classList.remove('next-entering', 'next-leaving', 'previous-entering', 'previous-leaving');

          }, false);

        }

      }

      //== Team Members Gallery ==//

      {

        if (window.location.pathname === '/about-murray-lampert-design-build-remodel') {

          let breakpointMed = window.matchMedia('(min-width: 768px)');
          let teamMemberSection = document.querySelector('section.team-members');
          let teamMemberBios = Array.from(document.querySelectorAll('.bio'));

          // Toggle Bios
          function toggleBios(event) {

            teamMemberBios.forEach(bio => {

              // If team member bio matches focused container, show bio
              if (bio.getAttribute('data-name') === document.activeElement.getAttribute('data-name')) {
                bio.style.display = 'grid';
              }
              // Else hide bio
              else {
                bio.style.display = 'none';
              }

            });

          }

          // Listen for clicks and keydown events
          document.addEventListener('click', function(event) {

            if (!breakpointMed.matches) return;

            toggleBios(event);


          }, false);

          document.addEventListener('keydown', function(event) {

            if (!breakpointMed.matches) return;

            if (event.key === 'Enter') {

              toggleBios(event);

            }

          }, false);

        }

      }

      //== YouTube Lite ==//

      {

        // If there are videos on the page, append lite-youtube-embed script to footer
        if (document.querySelector('lite-youtube')) {

          let footer = document.querySelector('footer');
          let js = document.createElement('script');

          js.type = "text/javascript";
          js.src = "/js/lite-youtube-embed.js";
          footer.appendChild(js);

        }

      }

      //== Form Scripts ==//

      {

        // Check for forms on the page
        if (document.forms.length > 0) {

          let contactForm = document.forms['Website Lead: Contact Form'];

          // Enable contact form submit button when JS is enabled
          document.getElementById('contact-btn').removeAttribute('disabled');

          // Remove JS disabled alert message
          document.getElementById('js-disabled-alert').remove();

          // Zip Code Validation
          let zipCodeField = contactForm['zipcode'];

          function validateZip(event) {

            if (isNaN(zipCodeField.value) || zipCodeField.value < 00000 || zipCodeField.value > 99999) {

              document.getElementById('contact-btn').disabled = true;
              zipCodeField.style.color = 'red';
              zipCodeField.value = 'INVALID ZIP CODE. PLEASE TRY AGAIN OR CALL US (619) 285-9222';

            }

            else {

              zipCodeField.style.color = '#2082AF';
              document.getElementById('contact-btn').disabled = false;

            }

          }

          // Listen for focus event on contact form
          contactForm.addEventListener('focus', function(event) {

            // Clear invalid zip code field message
            if (event.target === zipCodeField && zipCodeField.value.includes('INVALID')) {

              zipCodeField.value = '';
              zipCodeField.style.color = 'initial';

            }

          }, true);

          // Listen for blur event on contact form
          contactForm.addEventListener('blur', function(event) {

            // Validate zip code
            if (event.target === zipCodeField) {

              validateZip(event);

            }

          }, true);

        }

      }

    }()); // IIFE wrapper end

  </script>

  <!-- CallTrackingMetrics DNI -->
  <script defer src="//267786.tctm.co/t.js"></script>

  {% if page.title == 'San Diego Home Remodeling Blog' %}
    <!-- Simply Jekyll Search (only show on blog homepage) -->
    <script src="https://cdn.rawgit.com/christian-fei/Simple-Jekyll-Search/master/dest/simple-jekyll-search.min.js"></script>
    <script>
      window.simpleJekyllSearch = new SimpleJekyllSearch({
        searchInput: document.getElementById('search-input'),
        resultsContainer: document.getElementById('results-container'),
        json: '/search.json',
        searchResultTemplate: '<a href="{url}">{title}</a>',
        noResultsText: 'Sorry, no results found. Please try another search.',
        limit: 10,
        fuzzy: false,
        exclude: ['Welcome']
      });
    </script>
  {% endif %}

</footer>
