<section class="grid">

  {% for row in section.grid-rows %}
  <div class="row">
    {% for item in row.grid-items %}
    <div class="container span-{{ item.item-span }} {{ item.text-info.background-color }}">

      {% if item.item-type == "video" %}
      <!-- If grid item is a video -->

      <lite-youtube videoid="{{ item.video-id }}" style="background-image: url('https://i.ytimg.com/vi/{{ item.video-id }}/hqdefault.jpg');">
      </lite-youtube>

      {% elsif item.item-type == "image" %}
      <!-- If grid item is an image -->

        {% if item.image-info.text-overlay.main-content != "" %}

        <a {% if item.image-info.text-overlay.url != "" %}href="{{ item.image-info.text-overlay.url }}"{% else %}href="#" class="disabled" onclick="return false;"{% endif %}>

          <!-- Cloudinary image include -->
          {% capture image %}
          {{ item.image-info.image }}
          {% endcapture %}
          {% include cloudinary-image.html image=image alt="murray lampert home remodeling grid image" %}

          <div class="text-overlay">
            {% if item.image-info.text-overlay.small-heading %}
            <p class="small-heading">{{ item.image-info.text-overlay.small-heading }}</p>
            {% endif %}
            <p class="main-content">{{ item.image-info.text-overlay.main-content }}</p>
            {% if item.image-info.text-overlay.small-heading %}
            <p class="detail">{{ item.image-info.text-overlay.detail }}</p>
            {% endif %}
          </div>
        </a>

        {% else %}

        <!-- Cloudinary image include -->
        {% include cloudinary-image.html image=image alt="murray lampert home remodeling grid image" %}

        {% endif %}

      {% else %}
      <!-- If grid item is text -->

      <div class="text">
        <h2>{{ item.text-info.heading }}</h2>

        {{ item.text-info.content }}

        {% if item.text-info.cta.enabled == true %}
        <a class="btn {{ item.text-info.cta.color }}" href="{{ item.text-info.cta.url }}">{{ item.text-info.cta.button-text }}</a>
        {% endif %}
      </div>

      {% endif %}

    </div>
    {% endfor %}
  </div>
  {% endfor %}

</section>
