<header id="menu">

  <div class="lock">

    <a href="/" id="header-logo">
      <img src="https://res.cloudinary.com/zheisey/image/upload/f_auto/murray-lampert/logos/mldbr-v3.png" alt="Murray Lampert Design, Build, Remodel logo">
    </a>

    <!-- Potentially replace with another tagline or CTA? -->
    <div id="tagline">
      Call Today<br>
      <a href="tel:+16192859222">619-225-9222</a>
    </div>

    <a href="/contact" class="btn blue">Free Consultation</a>

    <!-- Menu Icon -->
    <a href="#" id="menu-icon" role="button" aria-controls="nav-overlay" aria-expanded="false">
      <span class="sr-only">Menu</span>
      <span></span>
      <span></span>
      <span></span>
    </a>

    <nav id="nav-overlay" aria-labelledby="menu-icon" aria-hidden="true">
      <ul class="menu-items">
        {% for item in site.data.header-nav %}
        <li>
          <a href="{{ item.url }}">{{ item.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </nav>

  </div>

</header>
