<section class="hero-banner" {% if section.background-image != '' %} style="background-image: linear-gradient(0deg, rgba(70, 130, 180, 0.35) 0%, rgba(70, 130, 180, 0.35) 100%), url('{{ site.cloudinary }}{{ section.background-image }}')" {% endif %}>

  <div class="container">
    <h1>{{ section.heading }}</h1>
    {% if section.content != '' %}
    <p>{{ section.content }}</p>
    {% endif %}
    {% if section.cta and section.cta.enabled == true %}
    <a class="btn {{ section.cta.color }}" href="{{ section.cta.url }}">{{ section.cta.button-text }}</a>
    {% endif %}
  </div>

</section>
