<section class="job-postings">

  <div class="lock">

    {% if section.jobs.size == 0 %}

      <h3>View our current openings and apply on <a href="https://www.ziprecruiter.com/c/Murray-Lampert-Design,-Build,-Remodel/Jobs">ZipRecruiter</a>.</h3>

    {% else %}

      {% for opening in section.jobs %}
      <h3>{{ opening.job-title }}</h3>
      <strong>Posted On:</strong> {{ opening.date | date: "%B %d, %Y" }}
      <p>{{ opening.job-description }}</p>
      <a href="{{ opening.application-url }}" class="btn blue" target="_blank">Apply for Position</a>
      <hr>
      {% endfor %}

    {% endif %}

  </div>

</section>
