<section class="job-postings">

  <div class="lock">

    <h3>Thank you for your interest in joining the Murray Lampert team!</h3>

    <p>We are a 4th generation, family-owned design-build remodeling firm who has been proudly serving homeowners in San Diego since 1975. For nearly 50 years, we have been building a reputation rooted in the following values:</p>

    <ul>
      <li><strong>Relationships:</strong> Building connections that feel like family</li>
      <li><strong>Integrity:</strong> Doing what's right</li>
      <li><strong>Positivity:</strong> Unwavering optimism</li>
      <li><strong>Motivation:</strong> Eagerness and passion to learn and grow</li>
      <li><strong>Accountability:</strong> Taking ownership</li>
    </ul>

    {% if section.jobs.size == 0 %}

      <h3>View our current openings and apply on:</h3>
      <ul>
        <li><a href="https://murraylampert.discoveredats.com/">The Hire Talent</li>
        <li><a href="https://www.ziprecruiter.com/c/Murray-Lampert-Design,-Build,-Remodel/Jobs">ZipRecruiter</a></li>
      </ul>

    {% else %}

      {% for opening in section.jobs %}
      <h3>{{ opening.job-title }}</h3>
      <strong>Posted On:</strong> {{ opening.date | date: "%B %d, %Y" }}
      <p>{{ opening.job-description }}</p>
      <a href="{{ opening.application-url }}" class="btn blue" target="_blank">Apply for Position</a>
      <hr>
      {% endfor %}

    {% endif %}

  </div>

</section>
