<section class="media-text">

  <div class="container media{% if section.media-position == "Right" %} right{% endif %}">

    {% if section.media-type == "Video" %}

    <div class="flex-iframe">
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/{{ section.video-id }}?rel=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    {% else %}

    <img src="{{ section.image }}" alt="{{ section.heading }} media image">

    {% endif %}

  </div>

  <div class="container text{% if section.media-position == "Right" %} left{% endif %}">
    <h2>{{ section.heading }}</h2>
    <p>{{ section.content }}</p>
    {% if section.cta and section.cta.enabled == true %}
    <a class="btn {{ section.cta.color }}" href="{{ section.cta.url }}">{{ section.cta.button-text }}</a>
    {% endif %}
  </div>

</section>
