<section class="media-text">

  <div class="container media{% if section.media-position == "Right" %} right{% endif %}">

    {% if section.media-type == "Video" %}

    <lite-youtube videoid="{{ section.video-id }}" style="background-image: url('https://i.ytimg.com/vi/{{ section.video-id }}/hqdefault.jpg');">
    </lite-youtube>

    {% else %}

    <img src="{{ site.cloudinary }}{{ section.image }}" alt="{{ section.heading }} media image" loading="lazy">

    {% endif %}

  </div>

  <div class="container text{% if section.media-position == "Right" %} left{% endif %}">
    <h2>{{ section.heading }}</h2>
    <p>{{ section.content }}</p>
    {% if section.cta and section.cta.enabled == true %}
    <a class="btn {{ section.cta.color }}" href="{{ section.cta.url }}">{{ section.cta.button-text }}</a>
    {% endif %}
  </div>

</section>
