{% if paginator %}
<section class="pagination">

  <div class="lock">
    <!-- Next Page (Older Posts) -->
    {% if paginator.next_page %}
      {% if paginator.next_page == 1 %}
        <a href="/{{ include.root }}">
          <span class="icon-left-arrow blue"></span>
          Older Posts
        </a>
      {% else %}
        <a href="/{{ include.root }}/page{{ paginator.next_page }}">
          <span class="icon-left-arrow blue"></span>
          Older Posts
        </a>
      {% endif %}
    {% else %}
      <span class="icon-left-arrow blue">
        Older Posts
      </span>
    {% endif %}

    <!-- Previous Page (Newer Posts) -->
    {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <a href="/{{include.root}}">
          Newer Posts
          <span class="icon-right-arrow blue"></span>
        </a>
      {% else %}
        <a href="/{{include.root}}/page{{ paginator.previous_page }}">
          Newer Posts
          <span class="icon-right-arrow blue"></span>
        </a>
      {% endif %}
    {% else %}
      <span>
        Newer Posts
        <span class="icon-right-arrow blue"></span>
      </span>
    {% endif %}
  </div>

</section>
{% endif %}
