<section class="project-list">

  {% for featured in site.featured-projects %}

    {% for project in section.project-list %}

      {% if featured.path == project %}

      <div class="project">

        <div class="container span-2">
          <img
            src="{{ site.cloudinary }},w_auto{{ featured.featured-image }}"
            srcset="
            {{ site.cloudinary }},w_450{{ featured.featured-image }} 450w
            "
            sizes="
            (max-width: 575px) 450px
            "
            alt="{{ featured.title }} featured remodeling project image"
            width="800"
            height="450"
            loading="lazy"
          >
        </div>

        <div class="container span-1">
          {% for item in featured.sections %}
            {% if item.template == "grid" %}
              {% if item.grid-rows[0].grid-items[0].image-info.image != "" %}
              <img src="{{ site.cloudinary }}{{ item.grid-rows[0].grid-items[0].image-info.image }}" alt="">
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>

        <div class="container span-3">
          <div class="text">
            <div class="overlay"></div>
            <span class="project-number">{{ forloop.index | prepend: "0" }}</span>
            <h2>{{ featured.title }}</h2>
            <div>{{ featured.project-overview | truncate: 345 }}</div>
            <a class="btn blue" href="{{ featured.url }}">View Project</a>
          </div>
        </div>

      </div>

      {% endif %}

    {% endfor %}

  {% endfor %}

</section>
