<section class="project-list">

  {% assign project-number = 0 %}

  {% for project in section.project-list %}

    {% assign project-number = project-number | plus: 1 %}

    {% for featured in site.featured-projects %}

      {% if featured.path == project %}

      <div class="project">

        <div class="container span-2">
          <!-- Cloudinary image include (pull from featured image) -->
          {%- assign image = featured.featured-image -%}
          {%- assign alt = featured.title -%}

          {% include cloudinary-image.html image=image alt=alt %}
          <!-- End Cloudinary image include -->
        </div>

        <div class="container span-1">
          {% for item in featured.sections %}
            {% if item.template == "grid" %}
              {% if item.grid-rows[0].grid-items[0].image-info.image != "" %}
              <!-- Cloudinary image include (pull from first grid row image) -->
              {%- assign image = item.grid-rows[0].grid-items[0].image-info.image -%}
              {%- assign alt = featured.title -%}

              {% include cloudinary-image.html image=image alt=alt %}
              <!-- End Cloudinary image include -->
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>

        <div class="container span-3">
          <div class="text">
            <div class="overlay"></div>
            <span class="project-number">{{ project-number | prepend: "0" }}</span>
            <h2>{{ featured.title }}</h2>
            <p class="location">{{ featured.location }}</p>
            <div>{{ featured.project-overview | truncate: 345 }}</div>
            <a class="btn blue" href="{{ featured.url }}">View Project</a>
          </div>
        </div>

      </div>

      {% endif %}

    {% endfor %}

  {% endfor %}

</section>
