<div class='full' id="quick-contact">
  <div class='row'>
    <!-- Removed id='contact_form' and method='POST' from original <form> -->
    <form name='Website Lead: Contact Form' netlify-honeypot='surname' action='/thank-you/' netlify>
      <div class='medium-8 columns'>
        <h2>Contact Murray Lampert</h2>
        <h3>Get More Info About Home Design, Build, Remodel in San Diego</h3>
          <!-- Netlify honeypot field -->
          <p class='hidden'><label>Don’t fill this out: <input name='surname'></label></p>
          <!-- Standard form fields -->
          <input name='name' placeholder='NAME' type='text' required>
          <input name='email' placeholder='EMAIL' type='email' required>
          <input name='phone' placeholder='PHONE' type='tel' required>
          <input name='address' placeholder='YOUR ADDRESS' type='text' required>
          <input name='zipcode' placeholder='YOUR ZIP CODE' type='text' onfocusout="validateZip()" required>
          <textarea name='message' placeholder='HOW CAN WE HELP?' required></textarea>
        <div class='two spacing'></div>
      </div>
      <div class='medium-4 columns'>
        <h2>Project Details</h2>
        <h3>For Your In-Home Consultation</h3>
        <select name='area-of-interest' placeholder='AREA OF INTEREST' required>
          <option value="" disabled selected>AREA OF INTEREST</option>
          <option value="Total Renovation">Total Renovation</option>
          <option value="Room Addition">Room Addition</option>
          <option value="Second Story">Second Story</option>
          <option value="Kitchen Remodel">Kitchen Remodel</option>
          <option value="Bathroom Remodel">Bathroom Remodel</option>
          <option value="Other">Other</option>
        </select>
        <select name='expected-time-frame' placeholder='EXPECTED TIME FRAME' required>
          <option value="" disabled selected>EXPECTED TIME FRAME</option>
          <option value="ASAP">ASAP</option>
          <option value="3 months">3 Months</option>
          <option value="6 months">6 Months</option>
          <option value="1 year">1 Year</option>
          <option value="More than a year">More than a year</option>
        </select>
        <select name='project-budget' placeholder='WHAT IS YOUR BUDGET?' required>
          <option value="" disabled selected>WHAT IS YOUR BUDGET?</option>
          <!-- <option value="$30k - $50k">$30,000 - $50,000</option> -->
          <option value="$50k - $100k">$50,000 - $100,000</option>
          <option value="$100k - $200k">$100,000 - $200,000</option>
          <option value="$200k - $300k">$200,000 - $300,000</option>
          <option value="$300k - $500k">$300,000 - $500,000</option>
          <option value="$500k+">$500,000+</option>
        </select>
        <select name='referral-source' placeholder='HOW DID YOU FIND US?'>
          <option value="" disabled selected>HOW DID YOU FIND US?</option>
          <option value="Online Search">Online Search (Google, Bing, Yahoo, etc.)</option>
          <option value="Online Referral">Online Referral (Yelp, Houzz, BBB, etc.)</option>
          <option value="Social Media">Social Media (Facebook, Instagram, Pinterest, etc.)</option>
          <option value="Personal Referral">Personal Referral</option>
          <option value="Radio">Radio</option>
          <option value="Television">Television</option>
          <option value="Job Site Sign">Job Site Sign</option>
          <option value="Print Ad">Print Advertisement</option>
          <option value="Other">Other</option>
        </select>
        <input class='button default' type='submit' value="GET IN TOUCH" id="contact-btn" disabled>
        <p id='js-disabled-alert'>Please enable JavaScript or call us directly to get in touch (619) 285-9222</p>
      </div>
    </form>
    <div class='four spacing'></div>
  </div>
</div>
