/*== Custom Styles ==*/

/* About page */

main[data-page="about"] {

  section.hero-banner:not(:first-of-type) + section.rich-text {

    margin-top: 0;

  }

}

/* Featured projects page */

main[data-page*="_featured-projects"] {

  section.header {

    background-color: $sand;

    .lock {

      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      position: relative;
      max-width: 1440px;
      height: 200px;
      margin: 0 auto;
      padding: 1rem 2rem;

    }

  }

  section.grid {

    &.overview {

      .row {

        min-height: auto;

        .container {

          min-height: auto;

        }

        .featured-image {

          position: absolute;
          top: -64px;
          background-size: cover;
          width: 100%;
          height: 300px;

          @media (min-width: $breakpoint-lg) {

            top: -65%;
            left: -25%;
            width: 500px;

          }

        }

        .text {

          justify-content: flex-start;
          padding: 1rem 2rem;

        }

        .text h1 {

          position: relative;
          max-width: 600px;

        }

        .text .detail {

          font-style: italic;
          margin: 0;


        }

      }

    }

    .span-3 > .text {

      max-width: 1000px;
      margin: 0 auto;

    }

  }

}

/* Accolades page */

main[data-page="accolades"] {

  section.rich-text:not(:nth-of-type(2)) {

    margin: 0 auto;

    h2 {

      border-bottom: 2px solid $sand;

    }

  }

  section.grid {

    max-width: 1240px;
    margin: 0 auto;

    @media (min-width: $breakpoint-sm) {

      padding: 0 2rem;

    }

    .row {

      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      min-height: 300px;

      .container {

        max-height: none;

      }

    }

    &:nth-last-of-type(2) {

      margin-bottom: 4rem;

      .row {

        grid-template-columns: none;
        margin-bottom: 3rem;

        @media (min-width: $breakpoint-lg) {

          grid-template-columns: repeat(3, 1fr);

        }

        .container .text h2 {

          font-size: calc(1.953rem + 1vw);

        }

      }

    }

  }

}

/* Blog homepage */

main[data-page*="_posts"] {

  section.hero-banner {

    @media (min-width: $breakpoint-lg) {

      min-height: auto;

    }

  }

}

/* Contact page */

main[data-page="contact"] {

  p.small-heading {

    font-size: 1.25rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 2rem;
    padding-bottom: 0.5rem;
    background-size: 75px 4px;
    background-repeat: no-repeat;
    background-position: bottom left;
    background-image: linear-gradient(to right, $blue 0%, $blue 100%);

  }

  form {

    p.hidden {

      display: none;

    }

    #js-disabled-alert {

      color: #842029;
      background-color: #f8d7da;
      margin: 1rem 0;
      padding: 1rem;
      border: 1px solid #f5c2c7;
      border-radius: 0.25rem;

    }

    input[type="text"], input[type="email"],
    input[type="tel"], select, textarea {

      display: block;
      font-family: $body-font;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.75;
      width: 100%;
      margin-bottom: 1rem;
      padding: 0.375rem 0.75rem;
      border: 1px solid $light-gray;
      border-radius: 0.25rem;
      appearance: none;

    }

    select {

      color: #757575;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-position: right 0.75rem center;
      background-size: 16px 12px;
      padding: 0.375rem 1.75rem 0.375rem 0.75rem;
      vertical-align: middle;

    }

    input[type="submit"], input[type="reset"] {

      font-size: inherit;
      border: none;
    	outline: none;
      cursor: pointer;

    }

  }

  h6:nth-of-type(2) {

    margin-top: 5rem;

  }

  @media (min-width: $breakpoint-md) {

    h6:nth-of-type(2) {

      margin-top: initial;

    }

    .wrapper {

      display: flex;
      margin: 2rem 0;

      .left {

        width: 60%;
        padding-right: 2rem;
        border-right: 1px solid $light-gray;

      }

      .right {

        width: 40%;
        padding-left: 2rem;

      }

    }

  }

}
