/*== Footer Styles ==*/

footer {

  background-color: $light-gray;

  .lock {

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1440px;
    margin: 0 auto;
    padding: 2rem;

  }

  .column:nth-of-type(even) {

    margin: 1rem 0;

    @media (min-width: $breakpoint-sm) {

      margin: 0;

    }

  }

  a#footer-logo img {

    width: 100%;
    min-width: 80px;
    max-width: 150px;

  }

  nav {

    display: flex;
    margin-bottom: 1rem;

    ul.menu-items {

      list-style: none;
      margin-right: 2rem;

      a {

        display: block;
        color: $dark-gray;
        font-weight: bold;
        text-transform: uppercase;
        padding: 0.5rem 0;

      }

      a:hover, a:focus {

        color: $blue;

      }

    }

  }

  .social-icons {

    display: flex;
    justify-content: space-between;
    max-width: 265px;

  }

  address {

    font-style: normal;

    p {

      margin: 0.5rem 0;

    }

  }

  a.btn.blue {

    margin-top: 1rem;

  }

}
