/*== Footer Styles ==*/

footer {

  background-color: $light-gray;

  .lock {

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1440px;
    margin: 0 auto;
    padding: 2rem;

  }

  .column:nth-of-type(even) {

    margin: 1rem 0;

    @media (min-width: $breakpoint-lg) {

      margin: 0;

    }

  }

  a#footer-logo img {

    width: 100%;
    min-width: 100px;
    max-width: 200px;
    margin-left: -1rem;

  }

  nav {

    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    @media (min-width: 425px) {

      flex-direction: row;

    }

    ul.menu-items {

      list-style: none;
      margin: 0 2rem 0 0;

      li {

        margin: 0 0 0 -0.5rem;

      }

      a {

        display: block;
        color: $dark-gray;
        font-weight: bold;
        text-transform: uppercase;
        padding: 0.5rem;

      }

      a:hover, a:focus {

        color: $blue;

      }

    }

  }

  .social-icons {

    display: flex;
    justify-content: space-between;
    max-width: 265px;

  }

  address {

    font-style: normal;

    p {

      margin: 0.25rem 0;

      &:first-of-type {

        color: $blue;
        font-weight: 700;

      }

    }

  }

  a.btn.blue {

    margin-top: 1rem;

  }

}
