/*== Variables ==*/

/* Fonts */

$heading-font: adobe-caslon-pro, Georgia, serif;
$body-font: acumin-pro, Arial, sans-serif;

/* Colors */

$blue: #4682b4;
$light-gray: #d5d4d2;
$dark-gray: #4c4e52;
$sand: #a7a196;
$white: #fff;
$black: #000;

/* Breakpoints */

$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
