---
title: Murray Lampert Blog Categories
layout: default
section_id: blog
---

<div class="flex-section">
  <!-- Categories Column 1 -->
  <div class="categories-section">
  {% assign sorted_cats = site.categories | sort %}
  {% for category in sorted_cats limit:7 %}
    {% assign sorted_posts = category[1] | reversed %}
    <h2 id="{{category[0] | slugify }}">{{category[0] | capitalize}}</H2>
    <ul>
    {% for post in sorted_posts %}
    	<li><a href="{{ site.url }}{{ site.baseurl }}{{  post.url }}">{{  post.title }}</a></li>
    {% endfor %}
    </ul>
  {% endfor %}
  </div>
  <!-- Categories Column 2 -->
  <div class="categories-section">
  {% assign sorted_cats = site.categories | sort %}
  {% for category in sorted_cats offset:7 %}
    {% assign sorted_posts = category[1] | reversed %}
    <h2 id="{{category[0] | slugify }}">{{category[0] | capitalize}}</H2>
    <ul>
    {% for post in sorted_posts %}
    	<li><a href="{{ site.url }}{{ site.baseurl }}{{  post.url }}">{{  post.title }}</a></li>
    {% endfor %}
    </ul>
  {% endfor %}
  </div>
</div>
