<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div id='main' role='main'>
      <div class='full' style='background: #333'>
        <div class='row'>
          <div class='large-12 columns'>
            <h1 style='color: #fff;' class="centered-text">{{ page.title }}</h1>
            {% if page.title == 'Contact Murray Lampert' %}
            <h2 style='color: #fff;' class="centered-text">Schedule Your Free In-Home Remodeling Consultation</h2>
            {% endif %}
          </div>
        </div>
        <div class='two spacing'></div>
      </div>
      <div class='full'>
        <div class='row' id="main-content-row">
          {% if page.featured-image and page.featured-image != "" %}
            <img id="featured-image" src="{{ site.url }}/{{ page.featured-image }}" title="{{ page.title }} | Murray Lampert" alt="{{ page.title }} featured image" />
            <div class='spacing'></div>
          {% endif %}
          {{ content }}
        </div>
      </div>
      {% if page.title != 'Contact Murray Lampert' and page.title != 'Blog' %}
        {% include quick-contact.html %}
      {% endif %}
      <div class='four spacing'></div>
    </div>

    {% include footer.html %}

  </body>

</html>
