<!DOCTYPE html>
<html>

  {% include head.html %}
  
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NSGKJ4B"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {% include header.html %}

    <div id='main' role='main'>
      <div class='full' style='background: #3d3d3d'>
        <div class='row'>
          <div class='large-12 columns'>
            <h1 style='color: #fff;' class="centered-text">Murray Lampert Design, Build, Remodel</h1>
            <h2 style='color: #fff;' class="centered-text">San Diego's Home Remodeling Expert Since 1975</h2>
          </div>
        </div>
        <div class='spacing'></div>
      </div>
      <div class='mod modMasonryGallery'>
        <ul class='gallery'>
          {% for work in page.works %}
            <li class='{{work.class}}'>
              {% if work.url %} <!-- If image in gallery is Featured Project, go to project URL -->
              <a href='{{ work.url }}'>
                <img title="{{ work.title }} | Murray Lampert" alt="{{work.title}} image" src="{{work.image}}" />
                <div class='overlay'>
                  <div class='thumb-info'>
                    <h3>{{work.title}}</h3>
                    <p>{{work.desc}}</p>
                  </div>
                </div>
              </a>
              {% else %} <!-- Else go to Projects gallery page -->
              <a href='/san-diego-remodel-project-gallery'>
                <img title="{{ work.title }} | Murray Lampert" alt="{{work.title}} image" src="{{work.image}}" />
                <div class='overlay'>
                  <div class='thumb-info'>
                    <h3>{{work.title}}</h3>
                    <p>{{work.desc}}</p>
                  </div>
                </div>
              </a>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
      {{ content }}
    </div>

    {% include footer.html %}

  </body>

</html>
