<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body class="{{ page.collection }}">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NSGKJ4B"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <a id='top'></a>

    {% include header.html %}

    {% if page.onepage %}
      {% assign classname = 'top-shift' %}
    {% else %}
      {% assign classname = '' %}
    {% endif %}

    <div id="main" class="{{ classname }}">
      {{ content }}
    </div>

    {% include footer.html %}

  </body>
</html>
