<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body class="{{ page.collection }}">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NSGKJ4B"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <a id='top'></a>

    {% include header.html %}

    {% if page.onepage %}
      {% assign classname = 'top-shift' %}
    {% else %}
      {% assign classname = '' %}
    {% endif %}

    <div id="main" class="{{ classname }}">
      <!-- HTML for Homepage V2 Layout; Previously just {{ content }} liquid tag here -->
      <div class='full no-padding parallax home-video-wrapper'>
        <div class='fullscreen homepage-hero'>
          <!-- <video autoplay muted loop id='fullscreen-video' oncanplay="this.muted=true">
            <source src='/uploads/assets/videos/mldbr-homepage-bg.mp4' type='video/mp4'>
          </video> -->
          <div class='overlay'></div>
          <div class='layer'>
            <p class="small-title" style="color:#fff;">Murray Lampert</p>
            <h1>
             <span class="fir">Design</span><br/>
             <span class="sec">Build</span><br/>
             <span class="thir">Remodel</span>
            </h1>
            <img src="/uploads/assets/images/mldbr-logo-white-transparent.png" style="width:15%">
          </div>
        </div>
      </div>

      <a id='about'></a>
      <div class='full'>
        <div class='row'>
          <div class='large-8 columns large-centered'>
            <div class="section-title">
              <p class="small-title">Murray Lampert Design, Build, Remodel</p>
              <h2>San Diego's Home Remodeling Experts Since 1975</h2>
              <p class="big-size">For over 40 years, Murray Lampert Design, Build, Remodel has been building relationships with San Diego homeowners to become one of San Diego County’s most trusted home remodelers.</p>
              <div class="two spacing"></div>
              <a href="/about-murray-lampert-design-build-remodel" class="button small">Learn More About Murray Lampert</a>
            </div>
          </div>
          <div class="four spacing"></div>
        </div>
      </div>
      <div class="full no-overflow no-padding parallax" style="background-image: url({{ "/uploads/homepage-mldbr-office.jpg" | relative_url }})">
        <div class="right-half">
          <div class="two spacing"></div>
          <div class="section-header alt white">
            <h2>The Murray Lampert Difference</h2>
          </div>
          <p class="light">Murray Lampert has over 40 years of experience as one of the best <a href="/san-diego-home-design-services">design-build contractors in San Diego</a>. We owe our success to the dedication of our team, unyielding strive for excellence and the trust of our customers. Let us show you the Murray Lampert difference we can bring to your home.</p>
          <p class="light">Ready to start your design-build project? So are we! Contact our team today to schedule your initial consultation.</p>
          <div class="two spacing"></div>
          <a href="/contact" class="button small">Contact Murray Lampert</a>
          <div class="three spacing"></div>
        </div>
      </div>

      <a id='services'></a>
      <div class='full'>
        <div class='row'>
          <div class='large-8 columns large-centered'>
            <div class="section-title">
              <p class="small-title">Design, Build, and Remodel Services</p>
              <h2>Full-Service Home Remodeling</h2>
              <div class="two spacing"></div>
              <a href="/design-build-services-san-diego" class="button small">See Our Full List of Services</a>
            </div>
          </div>
        </div>
      </div>
      <div class='full no-overflow no-padding'>
        <div class='row main-services'>
          {% for service in page.services %}
            <div class='medium-6 large-4 columns'>
              <div class='mod modIconText' data-delay='0'>
                <div class='icon-text-advanced' data-bg="{{ service.bg }}">
                  <div class='wrapper'>
                    <div class='content'>
                      <i class='{{ service.icon }}'></i>
                    </div>
                  </div>
                  <h3><a href="{{ service.url }}" >{{ service.title | escape }}</a></h3>
                  <p>{{ service.desc | escape }}</p>
                  <div class="spacing"></div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>

      <a id='works'></a>
      <div class='full'>
        <div class='row'>
          <div class='large-8 columns large-centered'>
            <div class="section-title">
              <p class="small-title">Home Remodeling Projects</p>
              <h2>Our Work Speaks for Itself</h2>
            </div>
          </div>
        </div>
      </div>
      <div class='full no-padding' id="demo-1-works">
        <div class='mod modMasonryGallery'>
          <ul class='gallery'>
            {% for work in page.works %}
              <li class='{{work.class}}'>
                <a href='{{ work.url }}'>
                  <img title="{{ work.title }} | Murray Lampert" alt="{{work.title}} image" src="{{work.image}}" />
                  <div class='overlay'>
                    <div class='thumb-info'>
                      <h3>{{work.title}}</h3>
                      <p>{{work.desc}}</p>
                    </div>
                  </div>
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class='full dark no-padding'>
        <div class="four spacing"></div>
        <div class='row'>
          <div class='large-8 columns'>
            <h3 class="white">Want to See More?</h3>
            <p>Check out our full gallery of San Diego remodeling projects. We've done everything from bath and kitchen remodels to whole-home renovations, second story additions to granny flat construction.</p>
          </div>
          <div class='large-4 columns'>
            <a href="/san-diego-remodel-project-gallery" class="button small">View Our Project Gallery</a>
          </div>
        </div>
        <div class='two spacing'></div>
      </div>

      <a id='team'></a>
      <div class='full'>
        <div class='row'>
          <div class='large-8 columns large-centered'>
            <div class="section-title">
              <p class="small-title">Meet the Murray Lampert Team</p>
              <h2>Four Generations of Excellence</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="full no-padding">
        <div class="members">
          {% for member in page.members %}
            <div class="large-12 columns"> <!-- Was small-4 columns -->
              <div class='member-avatar'>
                <img class="avatar" alt="" src="{{ member.avatar | relative_url }}" />
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="full no-padding">
        <div class="div member-decs">
          <!-- {% for member in page.members %}
            <div class="large-4 columns">
              <div class='member-dec'>
                <div class='intro'>
                  <h3>{{ member.name | escape }}</h3>
                  <h4>{{ member.position | escape }}</h4>
                  <p>{{ member.desc | escape }}</p>
                  <ul class='socials'>
                    {% for social in member.socials %}
                      <li>
                        <a href='{{ social.link }}'>
                          <i class='fa fa-{{ social.icon }}'></i>
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          {% endfor %} -->
          <div class="two spacing"></div>
          <a href="/about-murray-lampert-design-build-remodel#team-members" class="button small">Meet Our Full Team</a>
        </div>
        <div class="two spacing"></div>
      </div>
      <div class="full no-padding">
        <div class='mod modBoxedSlider' data-timeout='1500'>
          <div class='slides'>
            {% for image in page.home_slides %}
              <div class='slide'>
                <img width="1200" height="800" alt="" src="{{ image | relative_url }}" />
              </div>
            {% endfor %}
          </div>
        </div>
        <div style="text-align:center;">
          <a href="/featured-projects/" class="button small" >Check Out Our Featured Remodeling Projects</a>
        </div>
        <div class="two spacing"></div>
      </div>

      <div class='full no-overflow no-padding parallax' style="background-image: url({{ "/uploads/homepage-architectural-drawings.jpg" | relative_url }})">
        <div class="left-half">
          <div class="two spacing"></div>
          <div class="row">
            <div class="section-header alt white">
              <h2>What Our Clients Say</h2>
            </div>
            <div class='mod modTestimonials simple'>
              <div class='row'>
                <div class='small-12 columns'>
                  <div class='items'>
                    {% for t in page.feat_testimonials %}
                      <div class='item'>
                        <p class='quote'>"{{ t.quote }}"</p>
                        <div class='author'>
                          <p class='author-name'>
                            <strong>- {{ t.author.name }}, {{ t.author.location }}</strong>
                          </p>
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </div>
                <a href="/testimonials" class="button small">Read More Testimonials</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}

     <!-- CallRail DNI Script -->
     <script type="text/javascript" src="//cdn.callrail.com/companies/789365048/19f99219972c6d404c08/12/swap.js"></script>
     
  </body>
</html>
