<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div id='main' role='main'>
      <div class='full' style='background: #3d3d3d'>
        <div class='row'>
          <div class='large-12 columns'>
            <h1 style='color: #fff;' class="centered-text">Our Project Galleries</h1>
          </div>
        </div>
        <div class='two spacing'></div>
      </div>
      <div class='two spacing'></div>
      <div class='spacing'></div>
      <div class='mod modMasonryGallery'>
        <div class='gallery-nav'>
          <ul>
            <li class='current'>
              <a data-cat='all' href='#'>All</a>
            </li>
            <li>
              <a data-cat='room-additions' href='#'>Room Additions</a>
            </li>
            <li>
              <a data-cat='second-stories' href='#'>Second Stories</a>
            </li>
            <li>
              <a data-cat='kitchen-remodels' href='#'>Kitchen Remodels</a>
            </li>
            <li>
              <a data-cat='bathroom-remodels' href='#'>Bathroom Remodels</a>
            </li>
            <li>
              <a data-cat='major-renovations' href='#'>Major Renovations</a>
            </li>
            <li>
              <a data-cat='3d-project-modeling' href='#'>3D Project Modeling</a>
            </li>
            <li>
              <a data-cat='architectural-design' href='#'>Architectual Design</a>
            </li>
            <li>
              <a data-cat='outdoor-spaces' href='#'>Outdoor Spaces</a>
            </li>
            <li>
              <a data-cat='before-and-after' href='#'>Before & After</a>
            </li>
            <li>
              <a data-cat='miscellaneous' href='#'>Miscellaneous</a>
            </li>
            <li>
              <a data-cat='rendering' href='#'>Rendering</a>
            </li>
            <li>
              <a data-cat='under-construction' href='#'>Under Construction</a>
            </li>
            <li>
              <a data-cat='featured-projects' href='#'>Featured Projects</a>
            </li>
          </ul>
        </div>
        <ul class='gallery'>
          {% for work in page.works %}
            <li class='{{work.class}}'>
              {% if work.url %} <!-- If image in gallery is Featured Project, go to project URL -->
              <a href='{{ work.url }}'>
                <img title="{{ work.title }} | Murray Lampert" alt="{{ work.title }} gallery image" src="{{work.image}}" />
                <div class='overlay'>
                  <div class='thumb-info'>
                    <h3>{{work.title}}</h3>
                    <p>{{work.desc}}</p>
                  </div>
                </div>
              </a>
              {% else %} <!-- Else keep users on Gallery page -->
              <a href='/projects'>
                <img title="{{ work.title }} | Murray Lampert" alt="{{ work.title }} gallery image" src="{{work.image}}" />
                <div class='overlay'>
                  <div class='thumb-info'>
                    <h3>{{work.title}}</h3>
                    <p>{{work.desc}}</p>
                  </div>
                </div>
              </a>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
      {{ content }}
    </div>

    {% include footer.html %}

  </body>

</html>
