/* Blog Homepage */

section.blog {

  margin: 4rem 0;

  .lock {

    max-width: 1240px;
    margin: 0 auto;

    .featured-post {

      position: relative;
      margin-bottom: 2rem;
      border-bottom: 2px solid $sand;

      .overlay {

        position: absolute;
        background-color: rgba($blue, 0.5);
        max-width: 900px;
        min-height: 500px;
        padding: 5rem 2rem 1rem;

        @media (min-width: $breakpoint-sm) {

          left: 0;
          top: 30%;
          padding: 5rem 4rem 1rem;
          min-height: auto;

        }

        .post-date-lg {

          position: absolute;
          top: 2.5rem;
          left: 2rem;
          color: $sand;
          font-family: $heading-font;
          font-size: clamp(3.815rem, 6vw, 5rem)

        }

        h2 {

          position: relative;
          color: $white;

        }

      }

      img {

        width: 100%;
        height: 500px;
        object-fit: cover;

        @media (min-width: $breakpoint-md) {

          width: 85%;
          margin: 0 2rem 0 auto;

        }

      }

      .text {

        margin: 2rem 0;
        padding: 0 2rem;

        .post-category {

          display: inline-block;
          color: $sand;
          font-size: 1.25rem;
          font-style: italic;

        }

      }

    }

    .recent-posts {

      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      @media (min-width: $breakpoint-lg) {

        padding: 0 2rem;

        .post {

          width: 32%;

        }

      }

      .post {

        img {

          width: 100%;
          height: 300px;
          object-fit: cover;

        }

        .text {

          margin: 2rem 0;
          padding: 0 2rem;

          @media (min-width: $breakpoint-lg) {

            padding: 0;

          }

          h3 {

            color: $sand;
            font-size: 2rem;

          }

        }

        .btn {

          margin-top: 1rem;

        }

      }

    }

  }

}
