/* Call to Action */

section.call-to-action {

  display: grid;
  background-color: $blue;

  @media (min-width: $breakpoint-lg) {

    grid-template-columns: auto;
    grid-template-rows: 1fr;
    grid-auto-flow: dense;

  }

  .media {

    display: none;

    @media (min-width: $breakpoint-lg) {

      display: block;
      height: 100%;

      &.left {

        grid-column: 1;

      }

      &.right {

        grid-column: 3;

      }

    }

    img {

      width: 100%;
      height: 100%;
      object-fit: cover;

    }

  }

  .text {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $white;
    height: 100%;
    padding: 2rem 1rem;

    @media (min-width: $breakpoint-lg) {

      grid-column: 2;
      min-height: 275px;

    }

  }

}
