/* Carousel */

section.carousel-container {

  position: relative;
  height: 600px;
  margin: 4rem 0;

  .carousel {

    position: absolute;
    display: flex;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: scroll;

    .slide {

      // position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      min-width: 100%;
      height: 100%;

      // &[hidden] {
      //
      //   display: initial;
      //   visibility: hidden;
      //
      // }

      .btn {

        margin-top: 1rem;

      }

    }

    .text-overlay {

      color: $white;
      max-width: 750px;
      margin: 0 auto;
      padding: 1rem 2rem;
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);

      &.sand {

        background-color: rgba($sand, 0.75);

      }

      &.blue {

        background-color: rgba($blue, 0.75);

      }

      &.gray {

        background-color: rgba($light-gray, 0.75);

      }

      &.none {

        box-shadow: none;

      }

      &.right {

        text-align: right;

      }

      &.center {

        text-align: center;

      }

      .main-content {

        font-family: $heading-font;
        font-size: 1.25rem;

        @media (min-width: $breakpoint-sm) {

          font-size: 1.5rem;

        }

      }

      .detail {

        font-style: italic;

      }

    }

  }

  // Animations

  .next-leaving {

    animation-duration: 1s;
    animation-name: nextLeaving;

  }

  @keyframes nextLeaving {

    from {

      left: 0;

    }

    to {

      left: -100%;

    }

  }

  .next-entering {

    animation-duration: 1s;
    animation-name: nextEntering;

  }

  @keyframes nextEntering {

    from {

      left: 100%;

    }

    to {

      left: 0;

    }

  }

  .previous-leaving {

    animation-duration: 1s;
    animation-name: previousLeaving;

  }

  @keyframes previousLeaving {

    from {

      right: 0;

    }

    to {

      right: -100%;

    }

  }

  .previous-entering {

    animation-duration: 1s;

    animation-name: previousEntering;

  }

  @keyframes previousEntering {

    from {

      right: 100%;

    }

    to {

      right: 0;

    }

  }

  // Controls

  #controls {

    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 50px;
    left: calc(50% - 150px);
    width: 300px;
    background-color: rgba($light-gray, 0.5);

    button[name="prev"],
    button[name="next"] {

      font-size: 1.5rem;
      background: transparent;
      border: none;
      cursor: pointer;

    }

    .dot {

      display: inline-block;
      background-color: rgba(255, 255, 255, 0.25);
      height: 15px;
      width: 15px;
      margin: 0 2px;
      border-radius: 50%;
      transition: background-color 1s ease;

    }

    .active, .dot:hover {

      background-color: $white;

    }

  }

}

// section.carousel-container {
//
//   position: relative;
//   height: 600px;
//   margin: 4rem 0;
//
//   .carousel {
//
//     position: absolute;
//     display: flex;
//     background-size: cover;
//     background-position: center;
//     background-repeat: no-repeat;
//     width: 100%;
//     height: 100%;
//     overflow: hidden;
//
//     .slide {
//
//       position: absolute;
//       display: flex;
//       flex-direction: column;
//       justify-content: center;
//       align-items: center;
//       background-size: cover;
//       background-position: center;
//       background-repeat: no-repeat;
//       width: 100%;
//       height: 100%;
//
//       &[hidden] {
//
//         display: initial;
//         visibility: hidden;
//
//       }
//
//       .btn {
//
//         margin-top: 1rem;
//
//       }
//
//     }
//
//     // Enable horizontal touch scrolling on applicable devices
//
//     @media (max-width: $breakpoint-sm) {
//
//     overflow: scroll hidden;
//
//       .slide {
//
//         position: initial;
//         min-width: 100%;
//
//         &[hidden] {
//
//           display: flex;
//           visibility: visible;
//
//         }
//
//       }
//
//     }
//
//     .text-overlay {
//
//       color: $white;
//       max-width: 750px;
//       margin: 0 auto;
//       padding: 1rem 2rem;
//       box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
//
//       &.sand {
//
//         background-color: rgba($sand, 0.75);
//
//       }
//
//       &.blue {
//
//         background-color: rgba($blue, 0.75);
//
//       }
//
//       &.gray {
//
//         background-color: rgba($light-gray, 0.75);
//
//       }
//
//       &.none {
//
//         box-shadow: none;
//
//       }
//
//       &.right {
//
//         text-align: right;
//
//       }
//
//       &.center {
//
//         text-align: center;
//
//       }
//
//       .main-content {
//
//         font-family: $heading-font;
//         font-size: 1.25rem;
//
//         @media (min-width: $breakpoint-sm) {
//
//           font-size: 1.5rem;
//
//         }
//
//       }
//
//       .detail {
//
//         font-style: italic;
//
//       }
//
//     }
//
//   }
//
//   // Animations
//
//   .next-leaving {
//
//     animation-duration: 1s;
//     animation-name: nextLeaving;
//
//   }
//
//   @keyframes nextLeaving {
//
//     from {
//
//       left: 0;
//
//     }
//
//     to {
//
//       left: -100%;
//
//     }
//
//   }
//
//   .next-entering {
//
//     animation-duration: 1s;
//     animation-name: nextEntering;
//
//   }
//
//   @keyframes nextEntering {
//
//     from {
//
//       left: 100%;
//
//     }
//
//     to {
//
//       left: 0;
//
//     }
//
//   }
//
//   .previous-leaving {
//
//     animation-duration: 1s;
//     animation-name: previousLeaving;
//
//   }
//
//   @keyframes previousLeaving {
//
//     from {
//
//       right: 0;
//
//     }
//
//     to {
//
//       right: -100%;
//
//     }
//
//   }
//
//   .previous-entering {
//
//     animation-duration: 1s;
//
//     animation-name: previousEntering;
//
//   }
//
//   @keyframes previousEntering {
//
//     from {
//
//       right: 100%;
//
//     }
//
//     to {
//
//       right: 0;
//
//     }
//
//   }
//
//   // Controls
//
//   .arrow-buttons {
//
//     button[name="prev"],
//     button[name="next"] {
//
//       position: absolute;
//       bottom: 50px;
//       font-size: 2.5rem;
//       background-color: rgba($white, 0.25);
//       border: none;
//       cursor: pointer;
//
//     }
//
//     button[name="prev"] {
//
//       left: 0;
//
//     }
//
//     button[name="next"] {
//
//       right: 0;
//
//     }
//
//     @media (min-width: $breakpoint-lg) {
//
//       button[name="prev"] {
//
//         bottom: 50%;
//         left: 10%;
//
//       }
//
//       button[name="next"] {
//
//         bottom: 50%;
//         right: 10%;
//
//       }
//
//     }
//
//   }
//
//   .dots {
//
//     position: absolute;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     bottom: 65px;
//     left: 62px;
//     right: 62px;
//
//     @media (min-width: $breakpoint-sm) {
//
//       left: calc(50% - 150px);
//       width: 300px;
//
//     }
//
//     > p {
//
//       display: none;
//
//     }
//
//     .dot {
//
//       display: inline-block;
//       background-color: rgba($white, 0.25);
//       height: 15px;
//       width: 15px;
//       margin: 0 2px;
//       border-radius: 50%;
//       transition: background-color 1s ease;
//
//     }
//
//     .active, .dot:hover {
//
//       background-color: $white;
//
//     }
//
//   }
//
//   @media (max-width: $breakpoint-sm) {
//
//     .arrow-buttons, .dots .dot {
//
//       display: none;
//
//     }
//
//     .dots {
//
//       justify-content: center;
//       bottom: 15px;
//
//       > p {
//
//         display: block;
//         color: $white;
//         font-style: italic;
//
//       }
//
//     }
//
//   }
//
// }
