/* Hero Banner */

section.hero-banner {

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $blue;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;

  @media (min-width: $breakpoint-lg) {

    min-height: 700px;

    &:not(:first-of-type) {

      min-height: 350px;

    }

  }

  .container {

    text-align: center;
    margin: 4rem 0;

    @media (min-width: $breakpoint-lg) {

      max-width: 700px;

    }

    h1 {

      color: $white;
      font-size: calc(3.5rem + 1vw);

    }

    p {

      color: $white;
      font-size: calc(1rem + 1vw);
      max-width: 700px;

    }

  }

}
