/* Service Locations Page */

section.locations {

  margin: 4rem 0;

  .lock {

    max-width: 1240px;
    margin: 0 auto;

    .wrapper {

      padding: 0 2rem;

      @media (min-width: $breakpoint-md) {

        display: flex;
        justify-content: space-around;

      }

      .list > li {

        font-size: clamp(1.15rem, 4vw, 1.5rem);
        margin-bottom: 0.5rem;

      }

    }

  }

}
