/* Pagination */

section.pagination {

  margin: 2rem auto;
  padding: 2rem 0;
  border-bottom: 2px solid $sand;

  .lock {

    display: flex;
    justify-content: space-between;
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 2rem;

  }

  &.projects, &.projects > .lock {

    max-width: 1440px;
    border: none;

  }

}
