/* Post Meta Data */

section.post-meta-data {

  margin: 4rem 0 -6rem 0;

  .lock {

    position: relative;
    max-width: 1240px;
    margin: 0 auto;
    padding: 1rem 2rem;

    .post-date-lg {

      position: absolute;
      top: -2rem;
      left: 0.25rem;
      color: rgba($blue, 0.45);
      font-family: $heading-font;
      font-size: clamp(5rem, 10vw, 7rem);

    }

    .post-date-sm {

      position: relative;
      font-weight: bold;
      text-transform: uppercase;

    }

    h2 {

      position: relative;

    }

    .post-category {

      display: inline-block;
      color: $sand;
      font-size: 1.25rem;
      font-style: italic;
      margin: 0;

    }

  }

}
