/* Rich Text */

section.rich-text {

  margin: 4rem 0;

  &.blue {

    color: $white;
    background-color: $blue;

    h2 {

      color: $white;

    }

  }

  &.sand {

    color: $white;
    background-color: $sand;

    h2 {

      color: $white;

    }

  }

  .lock {

    max-width: 1040px;
    margin: 0 auto;
    padding: 1rem 2rem;

  }

  h6 {

    font-size: 1.25rem;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.5;
    margin: 0.5rem 0;

  }

}
